body {
  background-color: #90e0ef;
  margin: 0;
  color: #051f24;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

header {
  background-color: #03045e;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* content */
#c1 {
  background-color: ;
}

#c2 {
  background-color: #ade8f4;
}

#c3 {
  background-color: #90e0ef;
}

#c4 {
  background-color: #ade8f4;
}
/* ---------------------------------- */

/* Headings */
h1 {
  text-align: center;
  font-size: 60px;
  margin: 0;
  color: aliceblue;
}

h1,
h2,
h3 {
  font-family: "Odibee Sans";
}
h3 {
  margin-bottom: 10px;
  font-size: 25px;
  text-decoration: underline;
}
/* --------------------------------- */

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 40px;
}

div {
  border-bottom: solid 1px #03045e;
}
h2 {
  font-size: 50px;
  background-color: #0077b6;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* Paragraph */
section p {
  margin: 0;
}

div p {
  font-family: "Limelight";
}
/* ---------------------------------- */

.project-item img {
  float: left;
  margin-right: 20px;
}
